/* .search-button{
    background-color: rgb(240,242,245);
    padding: 7px;
    margin: 5px 5px;
    border-radius: 40px;
    border: 1px solid transparent;
    position: relative;
    width: 75%;
    
} */
/* .search{
    border: none;
    background-color: transparent;
    outline-width: 0;
    position: absolute;
    bottom: 25%;
    left: 26%;
} */
.search-button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 5px;
}

.search{
    outline-width: 0;
    width: 230px;
    border: none;
    padding: 12px;
    padding-left: 10px;
    text-indent: 27px;
    margin: auto 15px;
    margin-left: 8px;
    border-radius: 999px;
    /* cursor: pointer; */
    background-color: rgb(240, 242, 245);
    /* cursor: pointer; */
}

.search-button > .MuiSvgIcon-root{
    color: gray;
    /* margin-left: 6px;
    margin-bottom: 5px; */
    /* cursor: pointer; */
    position: relative;
    right: 230px;
    top: 3px;
}
/* .search{
    outline-width: 0;
    width: 190px;
    border: none;
    padding: 10px;
    margin: 0 10px;
    border-radius: 999px;
    
    background-color: rgb(240, 242, 245);
    cursor: pointer;
} */



.inverted{
    background-color: rgb(27, 106, 226);
    padding: 7px;
    margin: 5px 5px;
    border-radius: 40px;
    border: 1px solid transparent;
    position: relative;
    width: 80%;
}
.inverted:hover{
    background-color: rgb(166, 226, 27);
}