*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Poppins', sans-serif;
  /* padding: 20px 40px; */
}
a{
  text-decoration: none;
  /* color: black; */
}
.app{
  height: fit-content;
}
.app__body{
  margin-top: 3px;
  display: flex;
  flex-direction: row;
  background-color: rgb(240,242,245);
}
.app__middle{
  /* display: flex; */
  background-color: rgb(240,242,245);
  /* flex-direction: row; */
  /* flex: 1; */
  width: fit-content;
}